@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
  --color-primary: #6c9bcf;
  --color-danger: #ff0060;
  --color-success: #1b9c85;
  --color-warning: #f7d060;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-dark-variant: #677483;
  --color-background: #f6f6f9;

  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;

  --box-shadow: 0 2rem 3rem var(--color-light);
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  font-size: 0.88rem;
  user-select: none;
  overflow-x: hidden;
  color: var(--color-dark);
  background-color: var(--color-background);
}

a {
  color: var(--color-dark);
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

h1 {
  font-weight: 800;
  font-size: 1.8rem;
}

h2 {
  font-weight: 600;
  font-size: 1.4rem;
}

h3 {
  font-weight: 500;
  font-size: 0.87rem;
}

small {
  font-size: 0.76rem;
}

p {
  color: var(--color-dark-variant);
}

b {
  color: var(--color-dark);
}

.text-muted {
  color: var(--color-info-dark);
}

.primary {
  color: var(--color-primary);
}

.danger {
  color: var(--color-danger);
}

.success {
  color: var(--color-success);
}

.warning {
  color: var(--color-warning);
}

.body {
  margin: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.invoice-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 30px;
  border: 1px solid #eee;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  height: auto;
  text-decoration: none;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.invoice-container table {
  width: 100%;
  line-height: inherit;
  text-align: left;
}

.invoice-container table tr.information table td {
  text-align: center;
  padding-bottom: 40px;
}

.invoice-container table tr.heading td {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 40px;
}

.invoice-container table tr.details td {
  text-align: justify;
  padding-bottom: 20px;
}

.invoice-container table tr.item td {
  border-bottom: 1px solid #eee;
}

.invoice-container table tr.item.last td {
  border-bottom: none;
}

.buttons-container {
  width: 100%;
  max-width: 800px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* css for print */
@media print {
  .invoice-container {
    max-width: unset;
    box-shadow: none;
    border: 0px;
    background-color: white;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 15px;
    font-size: 14px;
    line-height: 18px;
  }
}

@media only screen and(max-width: 600px) {
  .invoice-container table tr.top table td {
    width: 100%;
    display: block;
    text-align: center;
  }
  .invoice-container table tr.information table td {
    width: 100%;
    display: block;
    text-align: center;
  }
}

/* RTL */
.invoice-container.rtl {
  direction: rtl;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.invoice-container.rtl table {
  text-align: right;
}

.invoice-container.rtl table tr td:nth-child(2) {
  text-align: left;
}
